<h1>"Buzz Me"</h1>

<hr width=30%>
<br>
Time: <%= @time_of_day %>
<br>

<br>
<h2>PLEASE LOG IN </h2>

<form action='/users' method='post'>
  <label for='name'>Name</label>
    <input type='text' name='name' >
    <label for='email'>Email</label>
    <input type'text' name='email'>
    <input type='submit' value='Submit'>

  </form>
