<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>buz me</title>
    <link rel="stylesheet" href="/stylesheets/index.css">
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif|Seymour+One" rel="stylesheet">

  </head>
  <body>
    <!-- <div>
          <a href="/">Logout</a>
        </div> -->

    <%= yield %>
    <script src="/js/index.js"></script>
  </body>
</html>
