<h1>Login Page</h1>


<form action='/users' method='post'>
  <lebel for='name'>Name</label>
    <input type='text' name='name' >
    <label for='email'>Email</label>
    <input type'text' name='email'>
    <input type='submit' value='Login'>

  </form>
