/** {
  box-sizing: border-box;
}*/
body {
color: white;
background-image: url("../img/cool-background.jpg");
}

.h1-index {
font-family: 'Seymour One', sans-serif;
text-align: center;
text-shadow: 2px 2px #ff0000;
}

.h2-index {
 font-family: 'Seymour One', sans-serif;
 text-align: center;
 text-shadow: 2px 2px #ff0000
}

.time-index {
	text-align: center;
	font-family: 'Seymour One', sans-serif;
	text-shadow: 1px 1px #ff0000
}

.h3-index {
	text-align: center;
	font-family: 'serif';
}

.form-index {
	text-align: center;
}

a:link, a:visited, a:active {
color: white;
text-decoration: none;
}

a:hover {
	color: #ff0000;
}