/** {
  box-sizing: border-box;
}*/
body {
color: white;
background-image: url("../img/cool-background.jpg");
}

h1 {
font-family: 'Seymour One', sans-serif;
text-align: center;
}

h2 {
 font-family: 'Seymour One', sans-serif;
 text-align: center;
}

.time {
	text-align: center;
	font-family: 'Seymour One', sans-serif;
}

h3 {
	text-align: center;
}

form {
	text-align: center;
}