/** {
  box-sizing: border-box;
}*/
body{
color: white;
background-image: url(images/cool-background.jpg);
font-family: monospace;

}

.container {
  border: 5px solid white;
  background-color: grey;
}

.h1 {
  text-align: center;
}

.h2 {
  text-align: center;
}

.h3 {
  text-align: center;
}
